.chat__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5vh;
    box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 20px;
    height: 80vh;
    max-width: 100%;
    margin-left: 4%;
    margin-right: 4%;
}

form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.chat__message {
    width: 98%;
}

.render__chat {
    width: 98%;
    height: 70%;
    border-radius: 20px;
}

.rendered__name {
    color: darkslategrey;
}

.rendered__message {
    display: inline-flex;
    flex-direction: column;
    color: white;
    background-color: darkslategrey;
    border-radius: 20px;
    padding: 10px;
   
}

.rendered__chat{
    margin: 10px;
    display: flexbox;
}
